* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#section{
    padding : 3px 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    background-color: #535353;
    border-radius: 15px;
    color: white;
    width: fit-content;
    padding : 3px 6px;
}

p {
    color:#eceaea;
    background-color:#535353 ;
    width:fit-content;
    border-radius: 15px;
    padding : 3px 6px;
    vertical-align: bottom;
}

#chaine {
    color : white;
    font-weight: bold;
}
#titre {
    color: #eceaea;
}

figcaption {
    font-size:medium
}

figure {
    display: flex;
    flex-direction: column;
    width:320px;
}

body{
    background-color:#212121;
    box-shadow: inset 0 0 7px 2px white;
}

img {
    border-left: solid #F90201 2px;
    box-sizing: border-box;
    margin: auto;
    width: 320px;
}

footer{
    align-self: flex-end;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#credit{
    font-style: italic;
    font-size: x-small;
    margin-top: 5px;
    margin-bottom:9px;
    align-self: flex-end;
}

span {
    color : #d3d3d3;
    padding: 0 4px 2px 0;
    transform: scale(0.9);
}

#style {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

a {
    text-decoration: none;
}

figcaption:hover, h3:hover {
    text-shadow: 2px 2px 3px red;
}

figcaption:nth-child(2):hover {
    text-shadow: 1px 1px 2px red;
}